body{
    background-color: lightblue;
}

.gallery{
    max-width: 960px;
    margin: 0 auto;
    column-count: 5;
    column-gap: 0; 
}
.gallery > *{
    width: 100%;
    height: 100%;
    
}
canvas{
    display: block;
    background-color: rgb(255, 214, 235);
    border: 1px solid #000;
}